DJANGO_SECRET_KEY=your-secret-key-here
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=dockerdjango
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=your-database-password
DATABASE_HOST=localhost
DATABASE_PORT=5432



# Require users to be authenticated to use RAGKit (optional)
# RAGKIT_LOGIN_REQUIRED=True

# Embedding provider: openrouter or ollama
RAGKIT_EMBEDDING_PROVIDER=openrouter

# Embedding model
RAGKIT_EMBEDDING_MODEL=baai/bge-m3

# Embedding provider base URL
RAGKIT_EMBEDDING_BASE_URL=https://openrouter.ai/api/v1

# Embedding vector dimension base on your model !important max 2000
RAGKIT_EMBEDDING_DIMENSION=1024

# Embedding provider API key
RAGKIT_EMBEDDING_API_KEY=sk-or-v1-0b5...

# LLM provider: openrouter or ollama
RAGKIT_LLM_PROVIDER=openrouter

# LLM model
RAGKIT_LLM_MODEL=nex-agi/nex-n2.5-mini:free

# LLM provider base URL
RAGKIT_LLM_BASE_URL=https://openrouter.ai/api/v1

# LLM provider API key
RAGKIT_LLM_API_KEY=sk-or-v1-0b5...

# Custom base prompt (optional)
# RAGKIT_LLM_BASE_PROMPT=

# Prompt used when no relevant context is found (optional)
# RAGKIT_LLM_NOT_FOUND_PROMPT=